{{define "linkTimeExpireTemplate"}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <div id="error">
        <div class="container">
            <div class="card mt-5 align-items-center">
                <div class="card-header justify-content-center">
                    <h3 class="failure">Verification Failed</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/svg/error.svg" alt="">
                    </div>
                    <div style="text-align:center;" class="my-2 mt-5">
                        <p class="my-2" style="font-size:large; font-weight:bold;">Link expire
                        <p>
                        <p class="my-2">Thanks for your valuable response.
                        </p>
                        <p class="my-2">Please try again. </p>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="text-center">
                        <p>&copy; 2023 Reak | All Rights Reserved</p>
                    </div>                    
                </div>
            </footer>
        </div>
    </div>
</body>

</html>
{{end}}