{{define "emailVerifySucessTemplate"}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <div id="error">
        <div class="container">
            <div class="card mt-5 align-items-center">
                <div class="card-header justify-content-center">
                    <h3 class="success">Account Successfully Verified</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="../assets/images/svg/icon-msg.svg" alt="">
                    </div>
                    <div style="text-align:center;" class="my-2">
                        <p class="my-2 fs-4 fw-bold">Hello user, <p>
                        <p class="my-2 fs-5" >Thank you, your email has been verified successfully. <br>Your acount is now active.
                        </p>
                        <p class="my-2 fs-5">Thank you for choosing us.</p>     
                        <a href="login" class="btn btn-outline-primary px-5 mt-3">Back</a>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="text-center">
                        <p>2023 &copy; REAK</p>
                    </div>                    
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
{{end}}